# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=f4fafdc5-0ae2-45a3-be20-eaab0ff814c4

    # Set to true to disable all reporting
    B:opt-out=false
}


